.title {
    background-image: url("green.jpeg");
    text-align: center;
    position: relative;
    height: 50%;
    margin: 0px;
    width: auto;
}

.text-box {
    /* height: 10%; */
    padding: 100px;
}

h1 {
    text-align: center;
    font-size: 80pt;
    margin: 0;
}

h2 {
    text-align: center;
}

h3 {
    font-size: 40pt;
    margin: 0px;
    padding: 30px;
    background-color: rgba(130,177,109,255);
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(195, 251, 255));

}

h4 {
    margin-top: 0;
    margin-bottom: 20%;
    padding: 80px 400px;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(243, 236, 202));
    font-size: 30px;
}

h5 {
    background-color: white;
    color: rgba(159,209,173,255);
    font-size: 20pt;
    text-align: center;
    padding: 10px;
    margin: 0px;
}

h6 {
    font-size: 15pt;
    padding-top: 30px;
    text-align: center;
    margin: 0px;
    /* background-color: black; */
}

h7 {
    margin: 0px;
}

body {
    color: white;
    background-color: rgba(130,177,109,255);
    font-family: Didot, serif;
    height: 100%;
    margin: 0px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(195, 251, 255));
}

.header {
    height: 50px;
    padding-right: 90px;
    padding-top: 20px;
    display: inline-block;
    margin: 10px;
}

.title-small {
    background-image: url("green.jpeg");
    text-align: center;
    position: relative;
    padding: 50px;
    height: 30%;
    margin: 0px;
    width: auto;
}

.column {
    float: left;
    width: 50%;
    padding: 0px;
    position: relative;
}

.contact-info {
    display: flex;
    justify-content: center;
}

.statement {
    color: white;
}

a {
    background-color: white;
    margin: 10px;
    padding: 10px 20px;
    display: inline;
    color: rgb(2, 65, 10);
}

a:link {
    text-decoration: none;
}

a:hover {
    border-style : dotted;
    border-color: white;
    border-width: 2px;
    background-color: rgba(130,177,109,255);
}

.block {
    background-color: white;
    margin: 0px;
    padding: 30px;
}

.pic-block {
    width: 33.33%;
    padding: 0px;
    position: relative;
    margin-top: 60px;
    margin-bottom: 80px;
    margin-left: 70px;
    margin-right: 70px;
    /* background-color: gray; */
    object-fit: cover;
    justify-content: center;
}

.service-info {
    display: flex;
    padding-bottom: 50px;
    /* justify-content: center; */
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
}
  
.pic-block:hover .overlay {
    opacity: .5;
}
  
.text {
    color: white;
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.footer {
    background-color: white;
    padding: 0.1% 6%
}

.footer-textbox {
    text-align: right;
    margin: 50px;
    color: rgb(2, 65, 10);
    /* background-color: gray; */
}

.footer-text{
    margin: 3px;
}

  